<% content_for :sidebar do %>
	<%= render :partial => "management/home/menu" %>
<% end %>

<h1>Новая категория</h1>

<% form_for @category, :url => {:action => :create } do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
	<%= f.submit "Сохранить" %>
<% end %>